extends layout

block content
    div.container
        h1 A simple chat server
        div your name
            input(type='text')#name

        div#chatInput what say you?
            input(type='text')#message
            button#submit Send
        h2 Chat Log
        div#chatLog


